nodered flows.json
[{"id":"8ff6f81e.90bc38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89a257f6.c89478","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"261186b7.260eba","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"182db88c.ad42a7","type":"ui_group","z":"","name":"default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec1a15e2.c9b8d8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"705b9458.1de5ec","type":"ui_tab","z":"","name":"Home page ","icon":"dashboard","disabled":false,"hidden":false},{"id":"758783e5.e8197c","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4203b8da.146f28","type":"ui_group","z":"","name":"predicting life expectancy","tab":"705b9458.1de5ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"30fc3620.d2ceda","type":"ui_spacer","name":"spacer","group":"4203b8da.146f28","order":1,"width":1,"height":1},{"id":"6922dfeb.1c96a","type":"ui_form","z":"89a257f6.c89478","name":"","label":"","group":"4203b8da.146f28","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status(0 if Developing 1 if Developed)","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"text","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"PREDICT","cancel":"cancel","topic":"","x":110,"y":40,"wires":[["a380a9e5.285318"]]},{"id":"a380a9e5.285318","type":"function","z":"89a257f6.c89478","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"K5mE-vg-ITsZyZPlOjUCgwYVa_KpIx-KjkUmLzXfExZ0\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":160,"wires":[["b1a9f759.54ce28"]]},{"id":"b1a9f759.54ce28","type":"http request","z":"89a257f6.c89478","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":120,"wires":[["cb4ff9ab.23eca8"]]},{"id":"cb4ff9ab.23eca8","type":"function","z":"89a257f6.c89478","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"e305c359-0628-4702-b802-5d65f25d6353\"\nmsg.headers = {'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token, \"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\n\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\n\"Hepatitis B\",\"Measles \",\" BMI \",\"under-five deaths \",\n\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\n\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\n\"Income composition of resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["875e9a8e.2859e8"]]},{"id":"875e9a8e.2859e8","type":"http request","z":"89a257f6.c89478","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/23c57610-67e2-462c-82ed-3bb96380d130/deployments/1857e7a5-0ab6-4ab9-8669-bc85a1809128/online","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":220,"wires":[["b6b32fa3.2f273","afe0045c.4ef8a8"]]},{"id":"afe0045c.4ef8a8","type":"function","z":"89a257f6.c89478","name":"getFrom endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["5927424b.58c2bc"]]},{"id":"b6b32fa3.2f273","type":"debug","z":"89a257f6.c89478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":100,"wires":[]},{"id":"5927424b.58c2bc","type":"ui_text","z":"89a257f6.c89478","group":"4203b8da.146f28","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":460,"wires":[]}]